<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BSU-ECSYS</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="/vendors/select2/select2.min.css">
    <link rel="stylesheet" href="/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="/css/styleStudDashboard.css">
    <!-- End layout styles -->
     <link rel="shortcut icon" href="/images/Batangas_State_Logo.png" />
     <style> 
      table { 
          border-collapse: collapse; 
          background: white; 
          color: black; 
          width: 1000px;
      } 
        
      th, 
      td { 
          font-weight: bold; 
      } 
  </style> 
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>



<script>
var eventlist  = [
    
    
    {
      title  : 'Christmas',
      start  : '2023-12-25T12:30:00',
      allDay : false // will make the time show
    }
  ];
</script>
<% if(data.length){ for(var i = 0; i< data.length; i++) {%>
<script>
  var data2 = new Date('<%= data[i].e_date %>');
  var datadate = data2.getFullYear() +"-"+ parseInt(data2.getMonth()+1) +"-"+data2.getDate();
  console.log(datadate)
  eventlist.push(
     {
       title  :  '<%= data[i].eventName %>',
       start  : datadate,
       description: 'This is a cool event',
       allDay: true
     }
       );
 
 </script>
 <% }}%>
<script>
 
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: eventlist,
  headerToolbar: {
    left: 'prev,next',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay' // user can switch between the two
  }
    });
    calendar.render();
    
  });
  
</script>
  </head>
  <body>
    <div class="container-scroller">
      
      <!--**********************************
            Nav header start
        ***********************************-->
        <%- include('../partials/dashboard-navbar'); %>
        <!--**********************************
              Nav header end
          ***********************************-->
      
      <div class="container-fluid page-body-wrapper">
        
        <!--**********************************
            Sidebar start
        ***********************************-->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <hr>
            <hr>
            <hr>
            <li class="nav-item nav-category">BSU -ECSYS - Student Dashboard</li>
          
            
            <!--start-->
           <%- include('../partials/dashboard-sidebar'); %>
           <!--End-->
            <br>
            <li class="nav-item nav-category">Manage Account</li>
            
            
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-settings menu-icon"></i>
                  <span class="menu-title">Settings</span>
                </a>
              </div>
            </li>
          
            <li class="nav-item sidebar-user-actions">
              <div class="sidebar-user-menu">
                <a href="#" class="nav-link"><i class="mdi mdi-logout menu-icon"></i>
                  <span class="menu-title">Log Out</span></a>
              </div>
            </li>
          </ul>
        </nav>
        <!--**********************************
            Sidebar end
        ***********************************-->
        
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              <h3 class="page-title"> Form elements </h3>
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="#">Forms</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Form elements</li>
                </ol>
              </nav>
            </div>
            <div class="row">
             
              <div class="col-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    
                    <h4 class="card-title">Event Calendar View</h4>
                    <div id='calendar'></div>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
          
          <!--*********************************
            Footer start
          ***********************************-->
          <%- include('../partials/dashboard-footer'); %>
          <!--**********************************
            Footer end
          ***********************************-->
          
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/vendors/select2/select2.min.js"></script>
    <script src="/vendors/typeahead.js/typeahead.bundle.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="/js/file-upload.js"></script>
    <script src="/js/typeahead.js"></script>
    <script src="/js/select2.js"></script>
    <!-- End custom js for this page -->
  </body>
</html>